.effect-list {
  &__term {
    font-size: 12px;
    text-align: center;
    color: $special-dark-grey;
  }

  &__determination {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 24px;
  }
}
