.promo {
  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 20px;
    color: $basic-white
  }

  &__text {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: $basic-white;
    text-transform: uppercase;
  }
}
